.icon30 {
    width: 30px;
    height: 30px;
    font-size: 28px;
}

.bg1 {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .bg1 {
        background-image: url(../img/BG1.jpg);
    }
}